@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'RIDIBatang';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'RIDIBatang';
  -ms-overflow-style: none;
  scrollbar-width: none;
  touch-action: none;
}

*::-webkit-scrollbar {
  background-color: transparent;
  display: none;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 1rem;
}

*::-webkit-scrollbar-button {
  display: none;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/bg.jpg');
  background-repeat: repeat;
  background-size: contain;
}

.intro-video {
  min-height: 28rem;
}

.flower {
  width: 100%;
  background-image: url('/flower.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.appear-active {
  animation: fade-out 1.2s ease-in-out;
  animation-fill-mode: forwards;
}

.absolute-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes fade-out {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

input,
textarea {
  outline: none;
}

.appear-copy {
  overflow: hidden;
  animation: fade-copy 2.5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fade-copy {
  0% {
    opacity: 0;
    height: 0rem;
  }
  10% {
    opacity: 0.8;
    height: 2.25rem;
  }
  80% {
    opacity: 0.8;
    height: 2.25rem;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    height: 0rem;
  }
}

.bg-appear {
  animation: back-appear 0.8s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes back-appear {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 0.8;
    transform: translateX(0%);
  }
}

.page-card {
  background-image: url('/bg.jpg');
  background-repeat: repeat;
  background-size: contain;
  animation: left-appear 1s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.6s;
  transform: translateX(-150%);
}

@keyframes left-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.85;
    transform: translateX(0%);
  }
}

.close-button {
  animation: fade-in 1s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1.6s;
  opacity: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.map {
  width: 100%;
  background-image: url('/location-big.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.map-icon {
  width: 1.35rem;
  height: 1.35rem;
  display: inline-block;
  border-radius: 38%;
  overflow: hidden;
}

.naver {
  width: 100%;
  background-image: url('/naver.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.kakao {
  width: 100%;
  background-image: url('/kakao.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.tmap {
  width: 100%;
  background-image: url('/tmap.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.copy {
  position: fixed;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.backdrop {
  width: 100vw;
  height: 100vh;
}

.modal-up {
  animation: modal-up 1s ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
  height: max-content;
}

.modal-down {
  animation: modal-down 1s ease-in-out;
  animation-fill-mode: forwards;
  opacity: 1;
}

@keyframes modal-up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modal-down {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
